.app-container{
  display: flex;
}
.content{
  width: 100%;
}
.sidebar{
  height: auto;
}
.post-card{
  margin: 20px 50px;
  width: 30rem;
}
.hashtag{
  margin-right:5px;
  text-transform: capitalize;
}
.reaction{
  width: auto;
  margin:10px 0 0 0;
}
.createpost{
margin:10%;
width:80%;
}
